@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

* {
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: 'Oxanium', cursive;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

h1 {
    font-family: 'Oxanium', cursive;
    font-weight: 600;
    font-size: 100px;
    color: #000;
}

h3 {
    font-family: 'Oxanium', cursive;
    font-weight: 800;
    color: #000;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 8%;
    background-color: #EFF9FB;
}

button {
    padding: 9px 30px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: #558dbb;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-style:groove;
    border-color:lightslategray;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}


.logo {
    cursor: pointer;
    margin-right: auto;
}

.logo img {
    height: 80px;
}

.nav-items {
    list-style: none;
}

.nav-items li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-items li a {
    transition: all 0.3s ease 0s;
}

.nav-items li a:hover {
    color: #55c6c9;
}


.container {
    max-width: 100%;
    padding: 0%;
    height: 90vh;
}

.content {
    position:absolute;
    top: 50%;
    left: 8%;
}

.photo-container {
    width: 100%;
    height: 90vh;
}

.photo-container img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}