
.nav {
    padding-top: 1%;
    grid-area: nav;
}

.container {
    grid-area: container;
}

.nav-item {
    margin-top: 1%;
}

.nav-link {
    padding: .75rem .75rem;
}

.body {
    display: grid;
    height: 100vh;
    grid-template-columns: 20%, 60%, 20%;
    grid-template-rows: 8% 92%;
    grid-template-areas: 
    ". nav ."
    ". container .";
}

h5 {
    color:black;
    font-weight:625;
}